h1 {
  text-align: center;
  height: 10vh;
  color: $text-color;
  font-size: 3.2em;
}

.reset-button {
  height: 100%;
  width: 100%;
  color: $text-color;
  background-color: $box-color;
  border-radius: 25px;
  font-size: 1.2em;
}
.reset-button:active {
  background-color: rgb(172, 2, 2);
}
